html,
body {
  margin: 0;
  /* background-color: #0a192f; */
  height: 100%;
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  padding: 40px;
}

* {
  box-sizing: border-box;
}
